body {
  background-color: #FBF8EF;
  margin: 0;
  padding-bottom: 2em;
}

h1 {
  color: #254D58;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Nobile', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: #9DBEBB;
  padding: 35px 10px;
  /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s;
  /* Adds a transition effect when the padding is decreased */
  position: fixed;
  /* Sticky/fixed navbar */
  width: 100%;
  top: 0;
  /* At the top */
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;

  
}

/* Style the logo */
#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
    /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }

  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar-right {
    float: none;
  }
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row img {
  margin-left: 3em;
}

.row p {
  width: 70%;
}

.img-header img {
  object-fit: cover;
  object-position: 0 60%;
  width: 90vw;
  height: 20em;
  margin-top: 9em;
  margin-right: auto;
  margin-left: auto;

  border-radius: 0.5em;


}

.img-header h1 {
  color: white;
}

.header img {
  margin-top: 9em;
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  height: 20em;

  border-radius: 0.5em;
}

.header {
  position: relative;
  text-align: center;
  color: white;
}

.header h1 {
  color: white;
}

.centered {
  position: absolute;
  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding: 2px 16px;
}

.hor-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px;
  margin-bottom: 5em;
}

.xlcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* 5px rounded corners */
  width: 40em;
  margin: 1em;
  background-color: white;
  display: flex;
  padding: 1em 0em;
  flex: 0 0 auto;
}

.xlcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#left {
  width: 30%;
  padding: 2px 16px;
  text-align: center;
}

#right {
  padding: 2px 16px;
}

.button {
  background-color: #468189;
  border: none;
  color: white;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 0.5em;

  transition-duration: 0.4s;
}

.button:hover {
  background-color: #9DBEBB; 
  cursor: pointer;
}

.slideshow {
  width: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slideshow img {
  object-fit: cover;
  max-height: 30em;
}

.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}